@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(normalize.css);

@layer base {
	@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
	/* 
	@font-face {
		font-family: 'Arapey';
		font-weight: 400;
		src: url(/fonts/Arapey-Regular.tff) format('truetype');
	}
	@font-face {
		font-family: 'Arapey-Italic';
		font-weight: 400;
		src: url(/fonts/Arapey-Italic.tff) format('truetype');
	}
	@font-face {
		font-family: 'Khula';
		font-weight: 300;
		src: url(/fonts/Khula-Light.tff) format('truetype');
	}
	@font-face {
		font-family: 'Khula';
		font-weight: 400;
		src: url(/fonts/Khula-Regular.tff) format('truetype');
	}
	@font-face {
		font-family: 'Khula';
		font-weight: 600;
		src: url(/fonts/Khula-SemiBold.tff) format('truetype');
	}
	@font-face {
		font-family: 'Khula';
		font-weight: 700;
		src: url(/fonts/Khula-Bold.tff) format('truetype');
	}
	@font-face {
		font-family: 'Khula';
		font-weight: 800;
		src: url(/fonts/Khula-ExtraBold.tff) format('truetype');
	} */
}

html,
body {
	@apply font-body;
}
